$mainFont: "Nunito", sans-serif;

// Colors

// $mainAccent: #229fff;
$mainAccent: #f5f5f5;
// $secondAccent: #03a9f4;
$secondAccent: #fedf3d;
$higthAccent: #fd2b2b;

// text colors

$gray: #333;
$lightGray: #666666;
$green: rgb(72, 195, 121);
